[run]
branch = False
source =
    py2neo
omit =
    */__main__.py
    py2neo/compat.py
    py2neo/diagnostics/*
    py2neo/experimental/*
    py2neo/movies/*
    py2neo/packages/*
    test/*
    */site-packages/*
    */dist-packages/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    raise NotImplementedError
    if __name__ == .__main__.:

show_missing = True
