[run]
branch = False
source =
    py2neo
omit =
    */__main__.py
    py2neo/demo/*
    py2neo/experimental/*
    py2neo/internal/compat.py
    test/*
    */site-packages/*
    */dist-packages/*

[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if tests don't hit defensive assertion code:
    raise NotImplementedError()
show_missing = True
