[run]
branch = False
source =
    py2neo
omit =
    */__main__.py
    py2neo/internal/compat.py
    py2neo/experimental/*
    test/*
    demo
    */site-packages/*
    */dist-packages/*

[report]
show_missing = True
