
/* Root element */
html {
    background-color: #F4F4F0;
    font-size: 15px;
    line-height: 160%;
    overflow-y: scroll;
}

/* Sections */
body {
    position: relative;
    font-family: "Verdana", sans-serif;
    width: 960px;
    margin: 0 auto;
    color: #444440;
}
section {}
nav {}
article {}
aside {
    position: absolute;
    width: 317px;
    margin-top: -.3em;
    right: 0;
    color: #fff;
    background: rgb(76,136,200) url('../img/aside_bg.png') no-repeat left top;
    padding: 11px 12px 11px 35px;
}
h1 {
    font: bold 220% "Courier New";
}
h2 {
    font: bold 180% "Courier New";
    border-top: 4px solid #DDD;
    margin-top: .75em;
    padding-top: .75em;
}
h3 {
    font: bold 140% "Courier New";
}
h4 {}
h5 {}
h6 {}
header {
    position: relative;
    border-bottom: 6px solid #DDD;
    padding: 32px 0 24px 0;
}
footer {
    position: relative;
    text-align: center;
    margin-top: 1.5em;
    border-top: 6px solid #DDD;
    padding: 24px 0 32px 0;
}
address {}
main {
    width: 576px;
    min-height: 450px;
}

/* Grouping content */
p {

}
hr {
    border-width: 0;
    height: 4px;
    color: #DDD;
    background-color: #DDD;
}
pre {
    font: 12px "DejaVu Sans Mono", "Monaco", "Consolas", monospace;
    background-color: #222;
    color: #fff;
    line-height: 140%;
    padding: 8px;
    overflow-x: auto;
}
blockquote {}
ol {}
ul {}
li {}
dl {}
dt {}
dd {}
figure {}
figcaption {}
div {}

/* Text-level semantics */
a {
    color: rgb(13,136,76);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
em {}
strong {}
small {}
s {}
cite {}
q {}
dfn {}
abbr {}
data {}
time {}
code {
    font-family: "Courier New", monospace;
    background-color: #ECECE8;
}
pre code {
    font: inherit;
    background-color:inherit;
}
var {}
samp {}
kbd {}
sub {}
sup {}
i {}
b {}
u {}
mark {}
ruby {}
rt {}
rp {}
bdi {}
bdo {}
span {}
br {}
wbr {}

/* Edits */
ins {}
del {}

/* Embedded content */
img {}
iframe {}
embed {}
object {}
param {}
video {}
audio {}
source {}
track {}
canvas {}
map {}
area {}
svg {}
math {}

/* Tabular data */
table {}
caption {}
colgroup {}
col {}
tbody {}
thead {}
tfoot {}
tr {}
td {}
th {}

/* Forms */
form {}
fieldset {}
legend {}
label {}
input {}
button {}
select {}
datalist {}
optgroup {}
option {}
textarea {}
keygen {}
output {}
progress {}
meter {}

/* Interactive elements */
details {}
summary {}
menuitem {}
menu {}

/* */
main.wide {
    width: 960px;
}
aside a {
    color: #fff;
    /*text-shadow: 0 0 2px #ccc;*/
}
aside.logo {
    position: absolute;
    width: 200px;
    margin-top: -.3em;
    right: 0;
    color: #inherit;
    background: none;
    padding: 0;
}

.title {
    font: 44px "Courier New";
    font-weight: bold;
}
.title a:hover {
    text-decoration: none;
}
.contact {
    position: absolute;
    top: 32px;
    right: 0;
}
.contact img {
    margin-left: .5em;
}
.naked {
    margin: 0;
    border-width: 0;
    padding: 0;
}

/* Sphinx */
tt {
    font-family: "Courier New", monospace;
    background-color: #ECECE8;
}
a.headerlink {
    visibility: hidden;
    text-decoration: none;
}
h1:hover > a.headerlink, h2:hover > a.headerlink, h3:hover > a.headerlink, h4:hover > a.headerlink, h5:hover > a.headerlink, h6:hover > a.headerlink, dt:hover > a.headerlink {
    visibility: visible;
}
dd {
    margin-left: 2em;
}
dt > big {
    font-size: inherit;
}
dt {
    font-family: "Courier New", monospace;
    color: #000000;
}
dt > tt {
    background-color: transparent;
}
dt > tt.descname {
    font-weight: bold;
}
.sphinxsidebar {
    position: absolute;
    top: 135px;
    width: 320px;
    margin-top: -.5em;
    right: 0;
}
.sphinxsidebar ul {
    padding-left: 1.2em;
}
table.field-list {
    border-collapse: collapse;
    font-size: 88%;
    line-height: 175%;
}
table.field-list th.field-name {
    text-align: right;
    padding-right: .5em;
}
table.field-list td > ul {
    padding-left: 0;
    list-style-type: none;
}
table.field-list td > p {
    margin-top: 0;
}
