/* structure */
html {
    overflow-y: scroll;
}
body {
    margin: 0 auto;
    width: 960px;
    max-width: 960px;
}
article {
    display: block;
    width: auto;
    margin: 0 auto;
    padding: 15px;
}
article h1 {
    margin-top: 0;
}
header {
    position: relative;
    height: 160px;
}
header h1 {
    margin: 12px 0;
}
header h2 {
    margin: 12px 0;
}
header, footer {
    display: block;
    width: auto;
    margin: 0 auto;
}
header .logo {
    position: absolute;
    left: 16px;
    top: 16px;
}
header hgroup {
    display: block;
    margin: 0;
    position: absolute;
    left: 160px;
    top: 16px;
}
footer {
    padding-bottom: 15px;
}
footer .gutter {
    display: table;
    width: 100%;
}
footer .gutter>div {
    display: table-cell;
    width: 50%;
    padding: 5px 15px;
}
footer .gutter>.copyright {
    text-align: right;
}
footer .links {
    display: table;
    width: 100%;
}
footer .links>nav {
    display: table-cell;
    width: 25%;
    padding: 0 15px;
}
a img {
    border-width: 0;
    outline: 0;
}

/* fonts */
body {
    font: 12pt "Droid Sans", "Arial", sans-serif;
}
article h1 {
    font-size: 24pt;
}
code, tt {
    font-family: "Droid Sans Mono", "Consolas", monospace;
    font-size: inherit;
}
pre {
    font-family: "Droid Sans Mono", "Consolas", monospace;
    font-size: 80%;
}
header h1 {
    font-size: 32pt;
}
header h2 {
    font-size: 16pt;
}
footer {
    font-size: 90%;
}
footer .gutter {
    font-size: 90%;
    font-style: italic;
}
footer h2 {
    font-size: 100%;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
header a:hover {
    text-decoration: none;
}

/* colours */
body {
    background-color: #E0E0D3;
    color: #1C110A;
    -webkit-box-shadow: 0 0 15px #1C1613;
    -moz-box-shadow: 0 0 15px #1C1613;
    box-shadow: 0 0 15px #1C1613;
}
article {
    background-color: #FCFCFC;
}
pre {
    background: #111111;
    color: #FCFCFC;
    padding: 15px;
}
header {
    background-color: #1C1613;
    color: #FCFCFC;
}
footer {
    background-color: #FCF9D4;
}
footer .gutter {
    background-color: #1C1613;
    color: #FCFCFC;
}
a {
    color: #208C29;
}
header a {
    color: inherit;
}

