name: Test with Neo4j 3.4 on py27/py34

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:

    runs-on: ubuntu-18.04
    strategy:
      matrix:
        python-version: ["2.7", "3.4"]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - uses: actions/setup-java@v1
      with:
        java-version: '8.0.x'
        java-package: jdk

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip wheel
        pip install https://github.com/bboe/coveralls-python/archive/github_actions.zip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Perform legal checks
      run: bin/check-legal

    - name: Perform installation check
      run: bin/check-install

    - name: Run tests
      run: bin/test -v -x
      env:
        NEO4J_VERSION: '3.4'

    - name: Upload coverage
      run: coveralls
      env:
        COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
